In [1]:
# Reading Csv file By using Pandas module 
import pandas as pd
df = pd.read_csv('C:\Python36\weather_data.csv')
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# Creating DataFrame by using Dict

In [6]:
import pandas as pd
weather_data = {
    'day':['1/1/2000','2/2/2021','3/3/2015'],
    'temperature':[32,21,15],
    'windspeed':[6,4,5],
    'event':['rain','show','sunny',]

    }

df = pd.DataFrame(weather_data)
print(df)

        day  temperature  windspeed  event
0  1/1/2000           32          6   rain
1  2/2/2021           21          4   show
2  3/3/2015           15          5  sunny

In [4]:
# Creating dataFrame by using List of Tuple also

In [7]:
# Shape: u can find the shape of the DataFrame

In [9]:
df.shape

(3, 4)

In [10]:
rows,columns  = df.shape

In [11]:
columns

4

In [12]:
rows

3

In [14]:
df.head()

        day  temperature  windspeed  event
0  1/1/2000           32          6   rain
1  2/2/2021           21          4   show
2  3/3/2015           15          5  sunny

In [15]:
df.tail()

        day  temperature  windspeed  event
0  1/1/2000           32          6   rain
1  2/2/2021           21          4   show
2  3/3/2015           15          5  sunny

In [16]:
df.tail(2)

        day  temperature  windspeed  event
1  2/2/2021           21          4   show
2  3/3/2015           15          5  sunny

In [28]:
# Reading Csv file By using Pandas module 
import pandas as pd
df = pd.read_csv('C:\Python36\weather_data.csv')
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [27]:
df['day'][1]

'1/2/2017'

In [29]:
# slicing

In [30]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [32]:
# display entire table by using slicing(:)
df[::]
df[:]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [33]:
# to see the columns

In [34]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [39]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [40]:
df['day'] # both are equal

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [42]:
df.temperature

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [43]:
type(df.event)

pandas.core.series.Series

In [45]:
# print only some columsn in a table 
df[['day','temperature']] # u can mentioned any columns

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           31

In [46]:
# max()
# to find the max temparature 
df.temperature.max()

35

In [47]:
df['temperature'].max()

35

In [48]:
# Min()
df.temperature.min()

24

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [52]:
# standard deviation 
df.std()

temperature    3.829708
windspeed      2.338090
dtype: float64

In [55]:
df.windspeed .std()  # only windspeed standard deviation

2.3380903889000244

In [57]:
# describe the DataFrame

In [58]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [59]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [65]:
df[df.windspeed>6]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
3  1/4/2017           24          7   Snow

In [69]:
# to find equaval temparature value 
#df[df.temperature == df['temperature '].max()]

In [70]:
# index
df.index

RangeIndex(start=0, stop=6, step=1)

In [72]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [74]:
df.set_index('day') # we can set the specific index value

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [ ]:
# reset the index 
df.reset_index(inplace=True)
df

# Creating Dataframe using List of tuples

In [89]:
import pandas as pd

normal_data = [
    (101,'devendra','Bang',5000),
    (105,'Ram','Hyd',6000),
    (102,'Sam','Mum',2500),
    (104,'Nag','Del',3665),
    (103,'Chinna','Che',5500),
    
]
# dataframes 
df = pd.DataFrame(normal_data,columns = ['empno','ename','eadd','esal'])
print(pd)
print(df)
df.columns

<module 'pandas' from 'c:\\python36\\lib\\site-packages\\pandas\\__init__.py'>
   empno     ename  eadd  esal
0    101  devendra  Bang  5000
1    105       Ram   Hyd  6000
2    102       Sam   Mum  2500
3    104       Nag   Del  3665
4    103    Chinna   Che  5500

Index(['empno', 'ename', 'eadd', 'esal'], dtype='object')

In [90]:
df

   empno     ename  eadd  esal
0    101  devendra  Bang  5000
1    105       Ram   Hyd  6000
2    102       Sam   Mum  2500
3    104       Nag   Del  3665
4    103    Chinna   Che  5500